body {
    background-color: rgb(82, 128, 167);
    font-family: Arial, Helvetica, sans-serif;
    margin:0mm;
    height: 60%;

}

.header{
    color: rgb(192, 115, 57);
    margin:10mm; /* fix for weird space between footer/body and edges of screen*/
    text-shadow: -1px 1px 0 rgb(46, 45, 47),
				  1px 1px 0 rgb(46, 45, 47),
				 1px -1px 0 rgb(46, 45, 47);

}

p{
    color:rgb(184, 144, 227);
    
}
a{
    color:rgb(121, 185, 210);
}


#page-container {
    position: relative;
    min-height: 100vh;
    margin:10mm;
  }

#content-wrap{
    padding-bottom: 2.5rem;    /* Footer height */
  }

footer{
    
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    padding-top: 20px;
    background-color: rgb(225, 168, 107);
}

