body {
    background-color: #2E294E;
    font-family: Arial, Helvetica, sans-serif;
    margin:0mm;
    height: 60%;

}

.chat{
    border: 2px solid #F46036 ;
    width: 350px;
    height: 150px;
    margin: 10px auto;
    padding: 25px;
}

.header{
    color: #F46036 /* rgb(192, 115, 57)*/;
    margin:10mm; /* fix for weird space between footer/body and edges of screen*/


}

p{
    margin:10mm;
    color: #F46036;
}
a{
    color:rgb(48, 96, 115);
}


#page-container {
    position: relative;
    min-height: 100vh;
    margin:10mm;
  }

#content-wrap{
    position: relative; 
    padding-bottom: 2.5 rem;     
  }

footer{
    
    position: bottom;
    bottom: 0;
    width: 100%;
    height: 5.5rem;
    background-color: #F46036;
}

